

<div class="main-content" id="c1">
  <div class="container-fluid" >
            <div class="card card-plain">
                <div class="card-header card-header-success row">
                        <h4 class="card-title" >Farm-{{farm_id}}</h4>
                        <h4 class="card-title btn btn-success" style="margin-left: 60%;" (click)="toggleDashboard()" *ngIf="flag_crop_images">Dashboard</h4>
                        <h4 class="card-title btn btn-info" style="margin-left: 60%;" (click)="toggleDashboard()" *ngIf="!flag_crop_images">Crop Images</h4>
                </div>
                <!-- <div class="row" style="margin-left: 50%">
                      <button type="button" class="btn btn-outline-danger" >Crop Images</button>
                      <button type="button" class="btn btn-outline-danger" >Dashboard</button>
                </div> -->
                
            </div>

      <div *ngIf="flag_crop_images">
            

      <h4>{{this.crop_show.cropImageAnnotated.split('/')[3]}}</h4>
      <div class ="row">
         <div class="form-group col-md-6" >
          <h4 >Original Image</h4>
        <a target="_blank" href="{{server}}{{crop_show.cropImage}}">
        <img src="{{server}}{{crop_show.cropImage}}" class="img-fluid" alt="Responsive image">
        </a>
      </div>
         <div class="form-group col-md-6">
          <h4>Annotated Image </h4>
          <a target="_blank" href="{{server}}{{crop_show.cropImageAnnotated}}">
            <img src="{{server}}{{crop_show.cropImageAnnotated}}" class="img-fluid" alt="Responsive image">
          </a>
        </div>
      </div>


      <div class="row">

          <div class="form-group col-md-4">
            <label for="inputState">Filter Date</label>
            <select id="inputState" class="form-control" #d (change)="filterDate(d.value)">
              <option selected value='till_now'>Till Now</option>
              <option value='today'>Today</option>
              <option value='this_week'>This Week</option>
              <option value='this_month'>This Month</option>
              <option value='this_year'>This Year</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="inputState">Filter Image Status</label>
            <select id="inputState" class="form-control" #v (change)="filterImage(v.value)">
              <option selected value='1'>All</option>
              <option value='2'>Need Attention(< 3000)</option>
              <option value='3'>Serious Situation(< 1500)</option>
            </select>
          </div>
      </div>
        <div class="row" >
            <div class="col-md-4" *ngFor="let crop of crops; ">
                <div class="card card-chart " (click)="showCropImage(crop)">
                      <img class ="profile-img" src="{{server}}{{crop.cropImageAnnotated}}" height="230"  />
                    <div class="card-body" >
                        <!--  <button mat-raised-button class="btn btn-outline-success" (mouseenter)="showNotification('top','right')"><h4 class="card-title">{{crop.cropImageAnnotated.split('/')[3]}}</h4></button> -->
                         <h4 class="card-title">{{crop.cropImageAnnotated.split('/')[3]}} &nbsp;&nbsp;&nbsp;<button mat-raised-button class="btn btn-outline-success btn-sm" (click)="viewMap(crop)" >View In Map</button></h4>
                         <table class="table table-hover">
                            <thead>
                              <tr>
                                <td scope="col">Total Crops</td>
                                <td scope="col">Altitude</td>
                                <td scope="col">Coordinates</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="row">{{crop.total_crops}}</td>
                                <td>{{crop.altitude}}</td>
                                <td>{{crop.latitude}},{{crop.longitude}}</td>
                              </tr>
                            </tbody>
                          </table>

                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>  
                            <b>{{crop.created_on.split('T')[0]}}</b>&nbsp;&nbsp;
                            <b>{{crop.created_on.split('T')[1].split(':')[0]}}:{{crop.created_on.split('T')[1].split(':')[1]}}</b>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
      <div class="row">

         <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let sensor of sensors" >
                <div class="card card-stats" >
                    <div class="card-header {{sensor.color}} card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">content_copy</i> -->
                            <img src="{{sensor.icon}}" class="icon-img" style="height: 80px;">
                        </div>
                        <p class="card-category" >{{sensor.sensor_type}}</p>
                        <h3 class="card-title">{{sensor.current_data}}
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                             <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
      
      <hr>
      <br>
</div>


    <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" >
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon" >
                        <div class="card-icon">
                            <!-- <i class="material-icons">crop_original</i> -->
                            <img src="https://www.materialui.co/materialIcons/image/crop_original_grey_192x192.png" style="height: 80px;">
                        </div>
                        <p class="card-category">Total Number of Images</p>
                        <h3 class="card-title">12
                            <small></small>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6" >
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">content_copy</i> -->
                            <img src="https://icon-library.net/images/plant-icon-png/plant-icon-png-16.jpg" style="height: 80px;">
                        </div>
                        <p class="card-category">Number of Crops</p>
                        <h3 class="card-title">45000
                            <small></small>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6" >
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                          <!-- <i class="material-icons" >crop_original</i> -->
                            <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Plant-icon.png" class="icon-img" style="height: 80px;">
                        </div>
                        <p class="card-category">Average Crops per Image</p>
                        <h3 class="card-title">3750
                            <small></small>
                        </h3>
                    </div>
                </div>
            </div>
      </div>
      <br><br>
        <div class="row">

                <div class="col-md-6">
                    <div class="card card-chart" >
                        <div class="card-header card-header-info">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Average Crop Density per Image</h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 4.50% </span> increase in Farm-1.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 5 hours ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" >
                    <div class="card card-chart" >
                        <div class="card-header card-header-success" >
                            <div class="ct-chart" id="websiteViewsChart" ></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Average Crop Density per Month</h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 20% </span> increase in crop density.</p>
                           <!--  <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 50% </span> increase in water level.</p> -->
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> data updated 3 days ago
                            </div>

                        </div>
                    </div>
                </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="row">
                                                <img class ="profile-img" src="{{server}}/media/HeatMap/Farm-1" width="100%" style="margin: auto" />
                                            </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                            <div class="row">
                                                <img class ="profile-img" src="{{server}}/media/ScatterPlot/scatterplot_Rt4IvlJ" width="100%" />
                                            </div>
                                    </div>
                                </div> 
                            </div>

      </div>

      <hr><br>


      <h2 *ngIf="!flag_crop_images">Upload Images:</h2>
      <div style="margin-left: 30%;" *ngIf="!flag_crop_images">
            <input #folderInput type="file" (change)="filesPicked(folderInput.files)" webkitDirectory>
            <button type="button" (click)="upload()">Upload Image</button>

              <div >
                  <ul *ngFor="let file of files ;" >
                      <li *ngIf="file && !file_status" style="color:red"> {{file.webkitRelativePath}}</li>
                      <li *ngIf="file && file_status" style="color:green">{{file.webkitRelativePath}}</li>
                  </ul>
              </div>
      </div>
      
</div>
